*,
*::before,
*::after {
  box-sizing: border-box;
}

/* creating root variables */

:root {
  --square-size: 100px;
  /* make mark size to fit the squares (90%) */
  --mark-size: calc(var(--square-size) * 0.9);
}

body {
  margin: 0;
  background-color: #b7b7a4;
}

.square {
  /* root variables for width and height */
  width: var(--square-size);
  height: var(--square-size);
  padding: 50px;
  margin: 10px;
  background-color: white;
  display: inline-block;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  border-radius: 8px;
  vertical-align: top;
}
